:root {
  --primary : Yellow;
  --secondary : blue;
}

.add-transaction-container {
  background-color: var(--primary);;
  border : 1px solid red;
  width : 70vw;
  max-width: 750px;
  padding : 2% 8%;
}
.add-transaction-container label{
  background-color : transparent;
}
.add-transaction-container > form, .store-item-container, .date {
  background-color: transparent;
}
