:root {
  --primary : Yellow;
  --secondary : blue;
}

 *{
  background-color : var(--primary);
}

.add-transaction-container {
  background-color: var(--primary);;
  border : 1px solid blue;
  width : 70vw;
  max-width: 750px;
  padding : 2% 8%;
}
.add-transaction-container > form {
  background-color: var(--primary)
}