:root {
  --primary : white;
  --secondary : white;

  --border : black;

  --infoContainerFD : column;
  --infoContainerAI : center;

  --viewableWidth : 100%;
}

@media (min-width : 600px){
  :root {
    --infoContainerFD : row;
    --infoContainerAI : flex-start;

    --viewableWidth : 50%;
  }
}

*{
  margin : 0;
  background-color: var(--primary);
}
.app-container{
  left : 0;
  top : 0;
  background-color: var(--primary);
  width : 100%;
  height : 100vh;
  font-family : Merriweather;
  margin: 0;
}
.info-container {
  display : flex;
  flex-direction: var(--infoContainerFD);
  align-items: var(--infoContainerAI);
  justify-content: space-evenly;
  gap: 20px;
  padding : 30px;
}
.viewable-transactions-container{
  width : var(--viewableWidth);
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap : 10px;
  padding: 0;
}
.filters-container {
  display : flex;
  justify-content: space-around;
  width : 100%;
  height : 40px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border-color: var(--border);
  background-color: #d1768f;
  color : white;
  font-family: "Times New Roman", sans-serif, serif;
  width : 20%;
  height: 100%;
  font-size: 1em;
  font-weight: 1000;
  text-align: center;
}
.transactions-container {
  padding : 5%;
  display : flex;
  flex-direction: column;
  align-items: center;
  gap : 30px;
  max-height : 80vh;
  width : 90%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.transactions-container::-webkit-scrollbar{
  display : none;
}
.add-button {
  display : flex;
  justify-content: center;
  align-items: center;
  width : 40px;
  height : 40px;
  border-radius: 20px;
  border: 3px solid var(--border);
  background-color: #01b0a5;
  color : white;
  font-size: 200%;
  font-weight: 700;
}