:root {
  --expense : red;
  --income : green;

  --mainText : white;
  --subText : white;
}


.transaction-container * {
  background-color : transparent;
}

.transaction-container > #expense {
  color : var(--expense);
}
.transaction-container > #income {
  color : var(--income);
}
.transaction-container > #expense, .transaction-container > #income {
  font-size: 1em;
  position : absolute;
  top : 5px;
  right : 3%;

}
.transaction-container > #store {
  position : absolute;
  top : 4px;
  left : 3%;
  font-size : 1em;
  color : var(--mainText);
}
.transaction-container > #item {
  position : absolute;
  top : 30%;
  font-size : 0.9em;
  width: 90%;
  height: 50%;
  text-wrap: wrap;
  color : var(--subText);
}
.transaction-container > #date {
  position : absolute;
  bottom : 0px;
  right : 3%;
  font-size : 0.8em;
  color : var(--subText);
}
.transaction-container > button {
  position : absolute;
  bottom :2%;
  left : 3%;
}